margin-top: 10%;
padding-top: 10%;

margin-right: 10%;
padding-right: 10%;

margin-bottom: 10%;
padding-bottom: 10%;

margin-left: 10%;
padding-left: 10%;
.hutoumei{iopacity:1;
.border-radius {
  width: 300px;
  height: 100px;
  line-height: 100px;
  background-color: green;
  border-radius: 30px;
  color: #fff;
  text-align: center;
}

.center{
  border: 1px solid #aaa;
  width: 400px;
  text-align: center;
  
